
<h1> {{title}}</h1>
<hr>
<nav>
      <a [routerLink]="['home']" routerLinkActive="active" >Home</a>&nbsp;
      <a [routerLink]="['administracion']" routerLinkActive="active">Administración </a>&nbsp;  
      <a [routerLink]="['empleados']" routerLinkActive="active" >Empleados</a>&nbsp;     
      <a [routerLink]="['editarempresa']" routerLinkActive="active" >Editar Empresa</a>&nbsp;  
      <a [routerLink]="['empleados']" routerLinkActive="active">Empleados</a>&nbsp;   
      <a [routerLink]="['login']" routerLinkActive="active">Login</a>&nbsp;   
      <a [routerLink]="['historicomantenimiento']" routerLinkActive="active">Historico Mantenimiento</a>&nbsp; 
      <a [routerLink]="['listaempleados']" routerLinkActive="active">Lista Empleados</a>&nbsp; 

</nav>


<router-outlet></router-outlet>




